@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}


* {
  scrollbar-width: thin;              /* Firefox */
  scrollbar-color: rgba(255,255,255,0.6) transparent;
  
}

/* Chrome, Edge, Safari */
*::-webkit-scrollbar {
  width: 3px;
  height: 3px;
  opacity: 0;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.6);
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.9);
}